body { text-align: center; }
div { background-color: cadetblue; height: 300px; width: 300px; display: flex; flex-wrap: wrap; margin: 0 auto;
  span {background-color: darkgray; height: 100px; width: 100px; outline: 1px solid black}
}
input { background-color: cadetblue; border: none; margin: 10px; padding: 5px 10px; }

span {
  background-position: center; background-size: 85px; background-repeat: no-repeat;
  &[data-state='1'] { background-image: url("pic/cross.png"); }
  &[data-state='2'] { background-image: url("pic/zero.png"); }
}

